/*** GLOBAL STYLES ***/

:root {
  --clr-white: #f3f3f3;
  --clr-grey: #dddddd;
  --clr-black: #000000;
  --clr-red: #73020c;
  --clr-green: #146849;
  --clr-blue: #144682;
  --clr-yellow: #e5c46f;
  --clr-gold: #d9b504;
  --clr-bronze: #8a7c34;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
